.hero-child {
  width: 1500px;
  height: 980px;
  position: relative;
  background-color: var(--color-darkslateblue);
  display: none;
  max-width: 100%;
}
.function-node {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-steelblue);
}
.about2 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  white-space: nowrap;
}
.sequence-node {
  flex: 0.7745;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-20xl) var(--padding-0)
    var(--padding-0);
}
.services2,
.team2 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  white-space: nowrap;
}
.services2 {
  width: 83px;
  display: inline-block;
  flex-shrink: 0;
}
.team2 {
  align-self: stretch;
}
.sequence-node1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-base) var(--padding-0)
    var(--padding-0);
}
.careers2 {
  width: 88px;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.constant-node,
.items2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.items2 {
  width: 433px;
  flex-direction: row;
  gap: var(--gap-2xs);
  z-index: 1;
}
.constant-node {
  width: 496.8px;
  flex-direction: column;
  text-align: left;
}
.shadow4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-gray-200);
  box-shadow: 0 20px 30px rgba(24, 44, 79, 0.05);
}
.field4 {
  width: 76.9px;
  position: absolute;
  margin: 0 !important;
  top: 19.6px;
  left: 50.3px;
  line-height: 19px;
  display: inline-block;
  white-space: nowrap;
  z-index: 3;
}
.system-componentsbuttonfill-icon2 {
  height: 60px;
  width: 177px;
  position: relative;
  object-fit: cover;
  min-height: 60px;
  z-index: 2;
}
.mask4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-81xl);
  z-index: 3;
}
.iteration-node {
  height: 100%;
  width: 395.2px;
  margin: 0 !important;
  position: absolute;
  top: -0.4px;
  right: -197.6px;
  bottom: 0.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 41.2px;
}
.enabledisable-shadow4,
.shadow5 {
  align-self: stretch;
  position: relative;
}
.enabledisable-shadow4 {
  width: 197.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.shadow5 {
  flex: 1;
  background-color: var(--color-gray-200);
  box-shadow: 0 20px 30px rgba(24, 44, 79, 0.05);
}
.field5,
.mask5 {
  position: absolute;
  margin: 0 !important;
}
.mask5 {
  height: 100%;
  width: 177px;
  top: -0.4px;
  bottom: 0.4px;
  left: 0.3px;
  border-radius: var(--br-8xs);
  background-color: var(--color-seagreen);
  box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.field5 {
  width: 92px;
  top: 19px;
  left: 42.8px;
  line-height: 19px;
  display: inline-block;
  white-space: nowrap;
  z-index: 4;
}
.enabledisable-shadow5 {
  align-self: stretch;
  width: 197.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
}
.header2,
.livestock {
  font-family: var(--font-ubuntu);
}
.header2 {
  margin-left: -134.70000000000005px;
  width: 1500px;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 31.59999999999991px var(--padding-xl) var(--padding-9xl)
    var(--padding-398xl);
  box-sizing: border-box;
  position: sticky;
  gap: 0 20.3px;
  top: 0;
  z-index: 99;
  max-width: 110%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.livestock {
  color: var(--color-steelblue);
}
.and-get-them,
.at-your-doorstep,
.order-your-livestock {
  margin: 0;
}
.hotels-how-to-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 78px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
  font-family: inherit;
}
.buy-fit-for-slaughter-and,
.get-it-processed,
.we-deliver-to {
  margin: 0;
}
.so-youre-trying-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 33px;
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.grouping-node {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 43px 0;
  min-width: 441px;
  max-width: 100%;
}
.base-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.else-node {
  height: 435px;
  width: 496px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-0) var(--padding-0);
  min-width: 496px;
}
.composite-node,
.else-node,
.hero {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.composite-node {
  width: 1232.3px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-0) var(--padding-xl) var(--padding-0) var(--padding-0);
  gap: 0 38.2px;
}
.hero {
  align-self: stretch;
  background-color: var(--color-darkslateblue);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-0) 0.7000000000000455px var(--padding-202xl)
    var(--padding-115xl);
  gap: var(--gap-185xl);
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--color-white);
  font-family: var(--font-ubuntu);
}
@media screen and (max-width: 1200px) {
  .header2,
  .hero {
    padding-left: var(--padding-189xl);
    box-sizing: border-box;
  }
  .hero {
    gap: var(--gap-83xl);
    padding-left: var(--padding-48xl);
  }
}
@media screen and (max-width: 1050px) {
  .items2 {
    display: none;
  }
  .constant-node {
    width: 63.7999999999999px;
  }
  .hotels-how-to-container {
    font-size: var(--font-size-26xl);
    line-height: 62px;
  }
  .base-icon {
    align-self: stretch;
    width: auto;
  }
  .else-node {
    flex: 1;
  }
  .composite-node {
    flex-wrap: wrap;
  }
  .hero {
    padding-bottom: var(--padding-125xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .header2 {
    padding-left: var(--padding-85xl);
    box-sizing: border-box;
  }
  .grouping-node {
    gap: 21px 0;
    min-width: 100%;
  }
  .else-node {
    min-width: 100%;
  }
  .composite-node {
    gap: 0 19px;
  }
  .hero {
    gap: var(--gap-32xl);
    padding-left: var(--padding-14xl);
    padding-bottom: var(--padding-75xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .team2 {
    display: none;
  }
  .header2 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .hotels-how-to-container {
    font-size: var(--font-size-15xl);
    line-height: 47px;
  }
  .so-youre-trying-container {
    font-size: var(--font-size-base);
    line-height: 26px;
  }
  .hero {
    gap: var(--gap-6xl);
  }
}
